#The following folders or files will be ignored by Git:
build/
netbeans/
.vscode/
qt/
cppcheck/
documentation/
RDB_Diplomaterv_Monitor.pro.user*
tests/test_config.json
tests/protocol_emulator/emulators/__pycache__/*
